@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Virgil';
  src: url('./fonts/Virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Virgil';
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Virgil';
}

#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Virgil';
}

/* Safari 11+ */
@supports (-webkit-appearance: none) and (stroke-color: transparent) {
  #root,
  body {
    min-height: -webkit-fill-available;
  }
}

canvas {
  -webkit-user-drag: none;
  user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Virgil';
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 1000;
  font-family: 'Virgil';
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

svg {
  background: none !important;
}